<h4> Post details</h4>

	<p>
		<%= @row['content'] %> 
		<br />
		<br />
		added at: <%= @row['created_date']%><br />
	</p>

	<br />
	<h4>Comments:</h4>

	
	<% @comments.each do |comment| %>
		<p>
			<%= comment['content'] %>
			<br />
			<span style="font-size: 75%; color: #999"> Added: <%= comment['created_date'] %></span>
		</p>
		<hr />
	<% end  %>


<form action="/details/<%= @row['id'] %> " method="POST" role="form">
	<textarea name="content" class="form-control" rows="5" placeholder="Type comment text"></textarea>
	<br />
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>