<h2>Last posts!</h2>
<br />
<% @results.each do |post| %>
		<a href="/details/<%= post['id'] %>"><%= post['title']%></a>
	<p>
		<%= post['text'] %> <br /><br />

		author: <%= post['author'] %><br />
		<a href="/details/<%= post['id'] %>">Comments</a>
	</p>
	<hr>
<% end %>